html{
    font-size: 62.5%;
}
.caja1{
    width: 200px;
    height: 200px;
    background-color: blue;   
    float: left; /* left flotacion a la izquierda */
}

.caja2{
    width: 200px;
    height: 200px;
    background-color: olive;   
    float: right; /* right flotacion a la derecha */
}

.caja3{
    width: 200px;
    height: 200px;
    background-color: red;   
    clear: both; /* clear: both; limpia los flotantes */
}

p {
    color: azure;
    font-size: 2rem;    
}