:root {
  /* Definir la paleta de colores */
  --color-1: #2C3639;
  --color-2: #3F4E4F;
  --color-3: #A27B5C;
  --color-4: #DCD7C9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-4);
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  display: flex;
  align-items: center;
  height: 2.7em;
  background-color: var(--color-3);
  padding: 10px 0;
  grid-area: header;
}

header h1 {
  margin: 0 auto;
}

header img {
  height: 50px;
  border-radius: 50%;
  box-shadow: none;
  margin-left: 15px;
}

main {
  margin: 0 5em 0 5em;
  grid-area: main;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
}

form p {
  margin-block: 0.5em;
}

form label {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  vertical-align: top;
}

form input[type="submit"] {
  padding: 5px 20px;
}

form input[type="button"],
button {
  padding: 5px 20px;
  margin-left: 50px;
}

form input[type="date" ] {
  padding: 1px 2px;
  width: 169px;
  text-align: center;
}

form textarea {
  resize: none;
}

h1,
h2 {
  color: #2C3639;
}

h1 {
  text-align: center;
  margin-block-start: 0;
  margin-block-end: 0;
}

h2 {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#btn-save,
#btn-logout {
  padding: 2px 20px;
}

.message {
  text-align: center;
  margin-top: 2em;
  font-size: 1.5em;
  color: var(--color-2);
}

.icon {
  text-align: center;
  font-size: 4em;
  margin-block: 0;
}

.session {
  text-align: center;
  margin-top: 2em;
}

.date {
  text-align: right;
  font-style: italic;
  margin-right: 20px;
  margin-block: 0;
}

p,
ul {
  font-size: 11pt;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-left: 20px;
  color: var(--color-2);
}

hr {
  margin: 1em 0;
  color: var(--color-3);
  border: 1px solid;
}

a {
  text-decoration: none;
  color: var(--color-3);
}

a:hover {
  font-weight: bold;
}

img {
  border-radius: 10px;
  box-shadow: 6px 10px 8px gray;
}

footer {
  background-color: var(--color-1);
  text-align: center;
  padding: 4px 4px;
  margin-top: 3em;
  height: 50px;
  color: var(--color-4);
  grid-area: footer;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 10pt;
}

footer p {
  color: var(--color-4);
  margin: 0;
  font-size: 8pt;
}

footer a {
  color: var(--color-4);
  text-decoration: none;
}

footer a:hover {
  color: var(--color-3);
}