/* 
  #2C3639
  #3F4E4F
  #A27B5C
  #DCD7C9
*/

body {
    background-color: #2C3639;
    color: #DCD7C9;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
}

img {
    height: 200px;
    ;
}

h1,
h3 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-bottom: 0;
}

p {
    margin-top: 0;
    font-size: 11pt;
}

ul {
    margin-top: 0.5em;
}

a {
    color: #DCD7C9;
    text-decoration: none;
}

A:hover {
    color: #A27B5C;
    font-weight: bold;
}