<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <header>
    <nav class="menu-bar">
      <ul class="menu-list">
        <li class="menu-item">
          <!-- Enlace a la vista index, usando url_for() de Flask para generar la URL -->
          <a class="menu-link" href="{{ url_for('index') }}">Inicio</a>
        </li>
        <li class="menu-item">
          <!-- Enlace a la vista contact, también con url_for() -->
          <a class="menu-link" href="{{ url_for('contact') }}">Contacto</a>
        </li>
        <li class="menu-item">
          <!-- Enlace a la vista contact, también con url_for() -->
          <a class="menu-link" href="{{ url_for('languages') }}">Lenguajes</a>
        </li>
      </ul>
    </nav>
    <h1>{{ title }}</h1>
  </header>

  <main>
    {% block content %}
    {% endblock %}
  </main>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>