<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Iniciar sesión</title>
  <link rel="stylesheet" href="./static/css/style.css">
</head>

<body>
  <header>
    <h1>Iniciar sesión 🔐</h1>
  </header>
  <main>
    {content}
  </main>
  <footer>
    <h3>Contacto</h3>
    <p>Si tienes alguna pregunta o comentario acerca de mis proyectos, no dudes en ponerte en contacto
      conmigo. <br>
      <a href="mailto:agustincomolli@gmail.com">agustincomolli@gmail.com</a>
    </p>
  </footer>
</body>

</html>