.padding {
  background-color: aqua;
  width: 200px;
  height: 200px;
  padding: 20px;
}

.border {
  background-color: red;
  width: 200px;
  height: 200px;
  border: 20px solid blue;
  /*
  border: 20px;
  border-style: solid;
  border-color: blue;*/
}

.margin {
  background-color: yellow;
  width: 200px;
  height: 200px;
  margin: 20px;
/*
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 100px;*/
}

.caja-completa{
    background-color: chartreuse;
    width: 200px;
    height: 200px;
    padding: 20px; /* El padding es el espacio entre el borde y el contenido */
    border: 20px solid blue; /* El border es el borde de la caja */
   /*margin: 20px; /* El margin es el espacio entre la caja y las demás cajas */
    box-sizing: border-box; /* Para que el padding y el border no se sumen al ancho y alto de la caja */
}


