html {
  /*mi html por defecto es 1em*/
  font-size: 62.5%; /* 10px */
}

/* Unidades de Medida Relativas

section {
  font-size: 2em;
}

.em {
  font-size: 2em;
}
 */

/*16px * 2 = 32px*/
/*32px * 2 = 64px*/

.rem {
  font-size: 1rem;
}

.rem30{
  font-size: 3rem;
  color: #FF0000;
  background-color: aqua;

}
/* Hexadecimal 
0 1 2 3 4 5 6 7 8 9 A B C D E F

*/

/*16px * 2 = 32px*/

/* Unidad de Medidas Absolutas */

.px {
  font-size: 20px;
}

.cm {
  font-size: 2cm;
}

.mm {
  font-size: 2mm;
}


img {
    width: 50vw;
    height: 80vh;
}

i {
    font-size: 2rem;
}