:root {
  /* Definir la paleta de colores */
  --color-1: #2C3639;
  --color-2: #3F4E4F;
  --color-3: #A27B5C;
  --color-4: #DCD7C9;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color-4);
  display: grid;
  min-height: 100vh;
  grid-template-rows: 90px 1fr auto;
  grid-template-areas: "header" "main" "footer";
}

header {
  background-color: var(--color-3);
  padding: 0.1em 0;
  grid-area: header;
}

main {
  margin: 0 5em 0 5em;
  grid-area: main;
}

h1,
h2 {
  color: var(--color-1);
}

h1 {
  text-align: center;
}

h2 {
  font-size: 1.2em;
  margin-top: 30px;
  margin-bottom: 10px;
}

p,
ul {
  font-size: 11pt;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 10px;
  color: var(--color-2);
}

.date {
  text-align: right;
  font-style: italic;
}

a {
  text-decoration: none;
  color: var(--color-3);
}

a:hover {
  font-weight: bold;
}

img {
  border-radius: 10px;
  box-shadow: 6px 10px 8px gray;
}

footer {
  background-color: var(--color-1);
  text-align: center;
  padding: 1em 0.5em;
  margin-top: 3em;
  height: 60px;
  color: var(--color-4);
  grid-area: footer;
}

footer h3 {
  margin-top: 0;
  margin-bottom: 0.1em;
  font-size: 11pt;
}

footer p {
  color: var(--color-4);
  margin: 0;
  font-size: 9pt;
}

footer a {
  color: var(--color-4);
  text-decoration: none;
}

footer a:hover {
  color: var(--color-3);
}